/* Header style goes here */
header {
    background-color: #3C9AAF;
}

/* Main style goes here */
main {
    background-color: #E1E9EC;
}

/* Footer style goes here */
footer {
    background-color: #011C2A;
}