/* Import google fonts, Hind and Rudo family-font */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Ruda:wght@400..900&display=swap');

/* Override default styles induced by the browser */
/* This step is taken from the CI walkthrought project instruction */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    /* This step is taken from the CI walkthrought project instruction*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #011C2A;
    font-family: 'Hind', sans-serif;
}

/* Header style goes here */
header {
    background-color: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 15vh;
    margin: 2px;
    border: 1px solid #011C2A;   
    
}

.hdr-subcontainer-1 {
    flex-basis: 30%;
    border: 1px solid #011C2A;
}

.hdr-subcontainer-2 {
    border: 1px solid #011C2A;
    background: url('../images/logo.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    flex-shrink: 1;
    height: 6rem;
    width: 6rem;
}

.hdr-subcontainer-3 {
    flex-basis: 10%;
    border: 1px solid #011C2A;
    font-size: 80%;
}

.hdr-subcontainer-1 h1 {
    font-size: 200%;
}

.hdr-subcontainer-1 h2 {
    font-size: 100%;
}

#menu {
    list-style-type: none;
    letter-spacing: 3px; 
    font-size: 100%;   
}

a {
    text-decoration: none;
}

nav {
    position: absolute;
    left: .8rem;
    top: 6.5rem;
}

#toggle:checked~nav {
    display: none;
}

#toggle {
    display: none;
}



/* Main style goes here */
main {
    background-color: #fff;
    /* Allow the main element to span most of the page */
    /* This step is taken from the CI walkthrought project instruction*/
    flex: 1 0 auto;
}
/* Footer style goes here */
footer {
    background-color: #011C2A;
    color: #E1E9EC;
}